*.sh                        text    working-tree-encoding=UTF-8 eol=lf
*.bash                      text    working-tree-encoding=UTF-8 eol=lf
*.py                        text    working-tree-encoding=UTF-8 eol=lf
scripts/*                   text    working-tree-encoding=UTF-8 eol=lf
*.c                         text    working-tree-encoding=UTF-8
*.cpp                       text    working-tree-encoding=UTF-8
*.h                         text    working-tree-encoding=UTF-8
*.hpp                       text    working-tree-encoding=UTF-8
